cmdy==0.2.0
colorama==0.4.3
completions==0.0.7
diot==0.0.6
Django==2.2.3
django-taggit==1.2.0
inflection==0.3.1
Markdown==3.1.1
modkit==0.1.0
prompt-toolkit==2.0.10
psycopg2==2.7.4
psycopg2-binary==2.8.4
pyparam==0.2.4
python-simpleconf==0.2.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
tagit==0.0.7
toml==0.10.0
wcwidth==0.1.7
